[submodule "narvd444_dtOF_2017"]
	path = narvd444_dtOF_2017
	url = https://github.com/nadsat89/narvd444_dtOF_2017.git
	branch = master
[submodule "hoe328_dtOF_2017"]
	path = hoe328_dtOF_2017
	url = https://github.com/lynnn43/hoe328_dtOF_2017.git
	branch = master
[submodule "molic786_dtOF_2017"]
	path = molic786_dtOF_2017
	url = https://github.com/Lywa/molic786_dtOF_2017.git
	branch = master
[submodule "niel641_dtOF_2017"]
	path = niel641_dtOF_2017
	url = https://github.com/SSSirius/niel641_dtOF_2017.git
	branch = master
[submodule "willl973_dtOF_2017"]
	path = willl973_dtOF_2017
	url = https://github.com/idealeah/willl973_dtOF_2017.git
	branch = master
[submodule "shara107_mfaof_2017"]
	path = shara107_mfaof_2017
	url = https://github.com/abhi2good/shara107_mfaof_2017.git
	branch = master
[submodule "guoj038_dtOF_2017"]
	path = guoj038_dtOF_2017
	url = https://github.com/JunguGuo/guoj038_dtOF_2017.git
	branch = master
[submodule "cottt417_dtOF_2017"]
	path = cottt417_dtOF_2017
	url = https://github.com/taliacotton/cottt417_dtOF_2017.git
	branch = master
[submodule "wuj643_dtOF_2017"]
	path = wuj643_dtOF_2017
	url = https://github.com/jacqswu/wuj643_dtOF_2017.git
	branch = master
[submodule "rojrc782_dtOF_2017"]
	path = rojrc782_dtOF_2017
	url = https://github.com/chaearn/rojrc782_dtOF_2017.git
	branch = master
[submodule "cheny533_dtOF_2017"]
	path = cheny533_dtOF_2017
	url = https://github.com/pinkisholifant/cheny533_dtOF_2017.git
	branch = master
[submodule "my636_dtOF_2017"]
	path = my636_dtOF_2017
	url = https://github.com/yiqinma/my636_dtOF_2017.git
	branch = master
[submodule "aggaa503_dtOF_2017"]
	path = aggaa503_dtOF_2017
	url = https://github.com/aakanksha503/aggaa503_dtOF_2017.git
	branch = master
